<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="chrome://global/skin/" type="text/css"?>
<?xml-stylesheet type="text/css" href="chrome://messenger/skin/messenger.css"?>
<?xml-stylesheet type="text/css" href="chrome://cardbook/content/skin/logEdition.css"?>
<!-- for the display -->
<?xml-stylesheet type="text/css" href="chrome://messenger/skin/themeableDialog.css"?>

<window xmlns="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"
	onload="wdw_logEdition.load();" resizable="true"
	onclose="wdw_logEdition.cancel();"
	id="wdw_logEdition" title="__MSG_wdw_logEditionTitle__"
	persist="screenX screenY width height sizemode"
	windowtype="CardBook:logEditionWindow"
	lightweightthemes="true"
	style="min-width:400px;min-height:100px;">
	
	<script type="application/x-javascript" src="chrome://cardbook/content/cardbookClipboard.js"/>
	<script type="application/x-javascript" src="chrome://cardbook/content/wdw_logEdition.js"/>
	<script type="application/x-javascript" src="chrome://cardbook/content/scripts/i18n.js"/>

	<keyset id="wdw_logEdition-keys">
		<key id="escapeKey" keycode="VK_ESCAPE" oncommand="wdw_logEdition.cancel();"/>
		<key id="selectAllKey" modifiers="accel" key="A" oncommand="wdw_logEdition.selectAllKey();"/>
		<key id="copyKey" modifiers="accel" key="C" oncommand="wdw_logEdition.clipboard();"/>
	</keyset>

	<hbox flex="1">
		<tree id="logEditionTree" class="cardbookTreeChildrenLogEditionClass" flex="1" hidecolumnpicker="true">
			<treecols>
				<treecol id="logEditionValue" label="__MSG_logEditionValueLabel__" flex="1" persist="width ordinal" style="text-align:left" closemenu="none"/>
				<treecol id="logEditionType" hidden="true" closemenu="none"/>
			</treecols>
			<treechildren/>
		</tree>
	</hbox>

	<hbox>
		<spacer flex="1"/>
		<button id="refreshLogEditionLabel" label="__MSG_refreshLogEditionLabel__" accesskey="__MSG_refreshLogEditionAccesskey__" oncommand="wdw_logEdition.load();"/>
		<button id="flushLogEditionLabel" label="__MSG_flushLogEditionLabel__" accesskey="__MSG_flushLogEditionAccesskey__" oncommand="wdw_logEdition.flush();"/>
		<button id="clipboardLogEditionLabel" label="__MSG_clipboardLogEditionLabel__" accesskey="__MSG_clipboardLogEditionAccesskey__" oncommand="wdw_logEdition.clipboard();"/>
		<button id="cancelLogEditionLabel" label="__MSG_cancelLogEditionLabel__" accesskey="__MSG_cancelLogEditionAccesskey__" oncommand="wdw_logEdition.cancel();"/>
	</hbox>
</window>
