.cardbookTreeChildrenLogEditionClass treechildren {
}
.cardbookTreeChildrenLogEditionClass treechildren::-moz-tree-row(Warning) {
	-moz-appearance: none !important;
	background-color: #F2F5A9 !important;
	border: 1px !important;
}
.cardbookTreeChildrenLogEditionClass treechildren::-moz-tree-row(Error) {
	-moz-appearance: none !important;
	background-color: #F5A9A9 !important;
	border: 1px !important;
}
