.icon-holder[type="cardbookTab"],
.tabmail-tab[type="cardbookTab"] {
	list-style-image: url("chrome://cardbook/content/skin/cardbook_16_16.png");
}

#cardbookMenuItem {
	list-style-image: url("chrome://cardbook/content/skin/cardbook_16_16.png");
}

#qfb-cardbook,
#cardbookToolbarButton {
	list-style-image: url("chrome://cardbook/content/skin/cardbook_24_24.svg");
}

#cardbookTabButton {
	list-style-image: url("chrome://cardbook/content/skin/cardbook_16_16.svg");
}


#cardbookFolderPaneToolbar {
	min-height: 24px;
	border-bottom: 1px solid ThreeDShadow;
}
#cardbookFolderPaneToolbar > #accountsOrCatsTreeToolbaritem {
	-moz-box-flex: 1;
}
#cardbookFolderPaneToolbar > .toolbarbutton-1,
#cardbookFolderPaneToolbar > toolbaritem > menulist {
	margin: 0;
}
#cardbookFolderPaneToolbar > :-moz-any(*) + :-moz-any(*) {
	margin-inline-start: 2px;
}